
<header>
        <%- include partials/_header %>
        
</header>


    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">Catalogo de Perritos</a>
    </nav>

    <div class="container">
        <div class="row">
            <!--Forma Tabla-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/agregar" method="POST">
                            <div class="form-group">
                                <input  type="text" name="nombre" placeholder="Inserta Nombre" class="form-control">
                            </div>

                            <div class="form-group">
                            <input  type="text" name="raza" placeholder="Inserte Raza del perrito" class="form-control">
                            </div>

                            <div class="form-group">
                            <input  type="number" name="edad" placeholder="Edad del perrito" class="form-control">
                            </div>

                            <div class="form-group">
                            <input  type="text" name="sexo" placeholder="Sexo del perrito" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary" value="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>

            <!--LIST-->
            <div class="col-mod-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Raza</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>
       
    </div>
    <footer>
            <%- include partials/_footer %>
    </footer>